* {
  font-family: "Poppins", sans-serif;
}

#container {
  width: 90%;
  border: 3px solid rgb(162, 165, 165);
  margin: 200px auto;
  border-radius: 10px;
}

#main-heading {
  text-align: center;
  background-color: rgb(44, 219, 175);
  margin-top: 0;
  color: rgba(255, 255, 255, 0.986);
  padding: 10px 0;
  font-size: 20px;
}

input[type="text"],
input[type="email"],
input[type="radio"],
input[type="checkbox"] {
  border: 3px solid lightgray;
  border-radius: 6px;
  margin-left: 40px;
  padding: 7px 12px;
}

p {
  margin: 30px auto;
  padding: 10px 20px;
}

.one {
  background-color: rgb(102, 174, 223);
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 7px;
  cursor: pointer;
  transition: 2s;
}

#reset {
  background-color: rgb(250, 51, 51);
  margin-left: 20px;
}

.one:hover {
  background-color: darkblue;
}

.outerbox {
  padding: 10px;
  display: flex;
  justify-content: space-between;
}
.sideline{
  border-right: 2px solid rgb(104, 165, 150);
  width: 2%;
}

.innerbox {
  flex-basis: 30%;
  padding: 0 20px;
}

#dynamic-box {
  flex-basis: 45%;
}

#dynamic-box img {
  width: 100%;
}

#imgdesc {
  display: flex;
  justify-content: space-between;
  background: rgb(162, 248, 82);
  color: white;
  font-weight: bold;
  padding: 10px 40px;
}

#dynamic-box h1 {
  text-align: center;
  margin-bottom: 30px;
}

.flex-table {
  border: 3px solid rgba(145, 224, 72, 0.705);
  border-radius: 7px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
}

.inner-table {
  padding: 10px 0;
  border: 2px solid rgba(145, 224, 72, 0.705);
  flex-basis: 58%;
  color: #313131;
}

.flex-table .right-img-div {
  flex-basis: 40%;
}

.flex-table .right-img-div img {
  height: 100%;
  width: 100%;
}

#footer {
  text-align: center;
  background-color: rgba(44, 219, 175);
  margin-top: 0;
  color: rgba(255, 255, 255, 0.986);
  padding: 5px 0;
  font-size: 14px;
  margin-bottom: 0;
}
